In [1]:
import pandas as pd

import requests

In [2]:
def get_all(endpoint):
    """ Read all records on all pages """
    
    if endpoint not in ["sales", "items", "stores"]:
        return "Not available from this API. Check the documentation"
    
    host = "https://python.zgulde.net/"
    api = "api/v1/"

    url = host + api + endpoint

    response = requests.get(url)

    if response.ok:
        payload = response.json()["payload"]

        # endpoint should be "items", "sales", or "stores"
        contents = payload[endpoint]

        # Make a dataframe of the contents
        df = pd.DataFrame(contents)

        next_page = payload["next_page"]

        while next_page:
            # Append the next_page url piece
            url = host + next_page
            response = requests.get(url)

            payload = response.json()["payload"]

            next_page = payload["next_page"]    
            contents = payload[endpoint]

            df = pd.concat([df, pd.DataFrame(contents)])

            df = df.reset_index(drop=True)

    return df

In [3]:
def get_store_data():
    items = get_all("items")
    stores = get_all('stores')
    sales = get_all("sales")
    
    #merging store and sales
    sales_and_stores = pd.merge(sales, stores, how="inner",left_on="store",right_on="store_id")
    
    # all 3 dataframes into one
    all_stores_data = pd.merge(sales_and_stores,items,how="inner", left_on="item", right_on="item_id")
    
    # writing dataframe to csv
    all_stores_data.to_csv("all_stores_data.csv")
    
    return all_stores_data

In [5]:
df = get_store_data()

In [6]:
df.head()

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item           913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_date      913000 non-null  object
 3   sale_id        913000 non-null  int64
 4   store          913000 non-null  int64
 5   store_address  913000 non-null  object
 6   store_city     913000 non-null  object
 7   store_id       913000 non-null  int64
 8   store_state    913000 non-null  object
 9   store_zipcode  913000 non-null  object
 10  item_brand     913000 non-null  object
 11  item_id        913000 non-null  int64
 12  item_name      913000 non-null  object
 13  item_price     913000 non-null  float64
 14  item_upc12     913000 non-null  object
 15  item_upc14     913000 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 118.4+ MB

In [8]:
df.shape

(913000, 16)