In [1]:
import pandas as pd

In [3]:
pip install vega_datasets

Requirement already satisfied: vega_datasets in /Users/christianfreeman/opt/anaconda3/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: pandas in /Users/christianfreeman/opt/anaconda3/lib/python3.8/site-packages (from vega_datasets) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/christianfreeman/opt/anaconda3/lib/python3.8/site-packages (from pandas->vega_datasets) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/christianfreeman/opt/anaconda3/lib/python3.8/site-packages (from pandas->vega_datasets) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/christianfreeman/opt/anaconda3/lib/python3.8/site-packages (from pandas->vega_datasets) (1.20.1)
Requirement already satisfied: six>=1.5 in /Users/christianfreeman/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->vega_datasets) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from vega_datasets import data
data.sf_temps()

      temp                date
0     47.8 2010-01-01 00:00:00
1     47.4 2010-01-01 01:00:00
2     46.9 2010-01-01 02:00:00
3     46.5 2010-01-01 03:00:00
4     46.0 2010-01-01 04:00:00
...    ...                 ...
8754  50.4 2010-12-31 19:00:00
8755  49.9 2010-12-31 20:00:00
8756  49.4 2010-12-31 21:00:00
8757  48.8 2010-12-31 22:00:00
8758  48.3 2010-12-31 23:00:00

[8759 rows x 2 columns]